@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700;800&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit; 
  }

body {
    /* background-image: linear-gradient(to top, #502971 0%, #753588 100%); */
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
}

.main {
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    padding: 16px;
    border-radius: 8px;
    background-color: #ffffff4b;
}

.main__header {
    text-align: center;
    color: #0000004b;
    margin: 0;
}